{% extends 'learning_log/base.html' %}

{% block page_header %}
    <h1>About | 关于 应用程序 Learning Log.</h1>
{% endblock page_header %}

{% block content %}
    <div class="pb-5 mb-2">
        <h4>
            应用程序名称: Learning Log.<br>
            作者: Tridecal.<br>
            开源: <a href="https://github.com/lxy1010/learning_log">https://github.com/lxy1010/learning_log</a>.<br>
        </h4>
    </div>
    <div>
        <h5>一些话</h5>
        <p>
            如果有什么建议的话, 来 GitHub 给我提 <a href="https://github.com/lxy1010/learning_log/issues/new">Issue</a> 哦.<br>
            因为还不懂什么 html, 网页写的不咋地, 看看就得了.
        </p>
    </div>
{% endblock content %}
